<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Useless Fact</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
  </head>
  <body>
    <h1>Random Useless Fact</h1>
    <div>
      <p class="fact"><%= fact %></p>
    </div>
  </body>
</html>
