body {
  text-align: center;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-size: 2em;
  background-color: #41644a;
}

h1 {
  color: #e9762b;
  margin-top: 5%;
}

p {
  color: #f1f0e9;
}

.fact-container {
  width: 60%;
  margin: auto;
}

button {
  color: #f1f0e9;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #e9762b;
  transition: transform 0.5s ease;
}

button:hover {
  transform: translateY(-5px);
  color:black;
}
