body {
  text-align: center;
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-size: 2em;
  background-color: #41644a;
}

h1 {
  color: #e9762b;
  margin-top: 5%;
}

p {
  color: #f1f0e9;
}

.fact-container {
  width: 60%;
  margin: auto;
}

#new-fact {
  width:20%;
  height: 50px;
  font-size: 2rem;
  color:#f1f0e9;
  background-color: #e9762b;
  border: solid 2px black;
  border-radius: 50%;
  margin-top: 0;
}
